* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}
main {
  padding: 0px;
  width: 100%;
}

.title {
  font-size: 3rem;
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background: rgb(0, 7, 61);
  color: white;
  height: 100vh;
  overflow-y: auto;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0; /* Adjust based on your header/nav height */
  height: 100vh;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  background: rgb(1, 8, 55);
}
.top_section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 22px;
  line-height: 0px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);
  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 15px;
  border-right: 4px solid transparent;
  /*transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);*/
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  /*transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);*/
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;
  padding: 5px 15px;
  border-right: 4px solid transparent;
  /*transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);*/
  justify-content: space-between;
}
.menu_item {
  display: flex;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 30px;
  border-bottom: #fff 0px solid;
}

.custom-navbar-bg {
  background-color: rgb(29, 78, 216);
}

/* Customizing the dropdown menu */
.custom-dropdown-menu .dropdown-menu {
  background-color: rgb(37, 99, 235); /* Light background color */
  color: #fff; /* Dark text color for contrast */
}

/* Changing the color of dropdown items on hover */
.custom-dropdown-menu .dropdown-menu .dropdown-item:hover,
.custom-dropdown-menu .dropdown-menu .dropdown-item:focus {
  background-color: rgb(29, 78, 216); /* Slightly darker shade for hover */
  color: #fff; /* Bootstrap primary color for the text */
}

/* Optional: Customizing the dropdown toggle button */
.custom-dropdown-menu .nav-link {
  color: #fff; /* White text color */
  background-color: none; /* Bootstrap primary color */
  border-radius: 0.25rem; /* Rounded corners */
}

/* Ensuring the dropdown menu text aligns with your design */
.custom-dropdown-menu .dropdown-menu .dropdown-item {
  text-align: left; /* Aligning text to the left; adjust as needed */
}
.custom-navbar-brand {
  color: #fff !important; /* Changes the text color to white */
  font-weight: bold; /* Makes the text bold */
  font-size: 2.2rem; /* Increases the font size */
  margin-left: 10px;
}

/* Adjusting for hover state */
.custom-navbar-brand:hover,
.custom-navbar-brand:focus {
  color: #fff !important; /* Lighter color on hover/focus */
  text-decoration: none; /* Removes underline on hover/focus */
}
/* Hide the caret if it's a pseudo-element */
.custom-dropdown-menu.hide-dropdown-caret .dropdown-toggle::after {
  display: none;
}

/* Or, if the caret is an SVG inside the dropdown toggle */
.custom-dropdown-menu.hide-dropdown-caret .dropdown-toggle svg {
  display: none;
}

/* Styles for the base form control */
.form-control {
  padding: 0.375rem 0.75rem; /* Adjust padding */
  border: 1px solid #ced4da; /* Border color */
  border-radius: 0.25rem; /* Adjust border-radius */
  font-size: 1rem; /* Font size */
}

/* Additional styles for small form control */
.form-control-sm {
  padding: 0.25rem 0.5rem; /* Smaller padding */
  font-size: 0.875rem; /* Smaller font size */
}

/* Class to remove border-radius */
.rounded-0 {
  border-radius: 0 !important; /* Remove border-radius */
}

/* You might want to add focus styles */
.form-control:focus {
  border-color: #80bdff; /* Color of the border on focus */
  outline: 0; /* Remove default outline */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Add a subtle shadow */
}
/* Add this CSS in your main stylesheet or inline */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
}
